private.properties
*.suo
*.ipch
*.sdf
*.opensdf
*.opendb
*.udf
*.pyc
.vs
.idea
[dD]ebug.[wW]in32
Release.Win32
/bin/
CMakeLists.txt.user
linux-build
local.properties
/simulator
/.project
/publish
cmake-build-debug
frameworks/runtime-src/proj.ios_mac/build
frameworks/runtime-src/proj.ios_mac/NakamaCocos2dxjs.xcodeproj/project.xcworkspace
frameworks/runtime-src/proj.ios_mac/NakamaCocos2dxjs.xcodeproj/xcuserdata