private.properties
*.suo
*.ipch
*.sdf
*.opensdf
*.opendb
*.udf
*.pyc
.vs
.idea
[dD]ebug.[wW]in32
Release.Win32
/bin/
CMakeLists.txt.user
linux-build
local.properties
/simulator
/.project
/publish
cmake-build-debug
